.DS_Store
vendor/*
cache/*
!cache/.gitkeep
application/mediaArchive/Archive/*
!application/mediaArchive/Archive/index.html
application/mediaArchive/Audio/*
!application/mediaArchive/Audio/index.html
application/mediaArchive/Flash/*
!application/mediaArchive/Flash/index.html
application/mediaArchive/Image/*
!application/mediaArchive/Image/index.html
application/mediaArchive/Office/*
!application/mediaArchive/Office/index.html
application/mediaArchive/Other/*
!application/mediaArchive/Other/index.html
application/mediaArchive/Pdf/*
!application/mediaArchive/Pdf/index.html
application/mediaArchive/Video/*
!application/mediaArchive/Video/index.html
admin/cache/*
!admin/cache/.gitkeep
