<div class="col-md-3 col-lg-3 content-align-right">
    <label for="motivation" class="required">Captcha</label>
</div>
<div class="col-md-9 col-lg-9">
	<div class="row">
		<div class="col-md-3 col-lg-3">
			<div tal:content="structure Component/captchaImage" />
		</div>
		<div class="col-md-9 col-lg-9">
			<div class="block-field bselect-show-input-search">
              <p>
                <input id="captcha" name="captcha" title="captcha" class="form-control" type="text" maxlength="50" value="" />
				<label>Siete pregati di inserire il codice mostrato in figura</label>
			  </p>
            </div>
		</div>
	</div>
</div>
