<div class="module-column mcp-module-column-aside-search padding-top w-all-wm-xxl  no-gutter bw-f w-1-3">

  <!-- bcp-block-widget-result -->
  <div class="bcp-block-widget-result ">

    <h3 class="block-title u-background-95 u-color-white u-padding-left-s u-padding-top-s u-padding-bottom-s u-padding-right-s">Ricerche</h3>

    <!-- block-content -->
    <div class="block-content">

      <!-- bcp-block-group-item-list -->
      <div class="bcp-block-group-item-list bcp-block-group-item-list--search">
        <ul>
          <li><a tal:content="php: Component['labelRicercaSemplice']" tal:attributes="href php: Component['urlRicercaSemplice']; class php: (__Request::get('mask') == 'Ricerca semplice') ? 'active' : ''"></a></li>
          <li><a tal:content="php: Component['labelRicercaAvanzata']" tal:attributes="href php: Component['urlRicercaAvanzata']; class php: (!__Request::get('mask')) ? 'active' : ''" ></a></li>
        </ul>
      </div>
      <!-- bcp-block-group-item-list -->

    </div>
    <!-- block-content -->

  </div>
  <!-- bcp-block-widget-result -->

  <!-- bcp-block-widget-result -->
  <div class="bcp-block-widget-result">

    <!-- block-content -->
    <div class="block-content">

      <!-- bcp-block-group-item-list -->
      <div class="bcp-block-group-item-list bcp-block-group-item-list--search margin-top">
        <ul>
          <li tal:repeat="item Component/maskList"><a tal:attributes="href php: __Link::makeUrl('solr_advancedSearch') . '?mask=' . item['name']; class php: (__Request::get('mask') == item['name']) ? 'active' : '' " tal:content="item/label"></a></li>
        </ul>

      </div>
      <!-- bcp-block-group-item-list -->

    </div>
    <!-- block-content -->

  </div>
  <!-- bcp-block-widget-result -->

</div>
